@import "css_variables";

// Fade effect when dark mode is toggled
html.better-slp-dark-mode-transitioning * {
  transition: all 300ms !important;
}

// Dark mode stles
html {
  
  // Dark chrome scrollbar. Interpolation syntax used to avoid a compiler warning since the SCSS transpiler doesnt recognize the `color-scheme` property.
  #{"color-scheme"}: dark;


  // Background colors
  & {
    // Dark backgrounds
    & {
      #{$page-body},
      #{$notebook-background},
      #{$notebook-nothing-to-submit-container}
      {
        background-color: $dark-900 !important;
      }
  
      #{$panel-element},
      #{$focus-area-hover-tooltip},
      #{$progress-grades-table-item},
      #{$announcement-item-container},
      #{$bslp-note-taker-embed}
      {
        background-color: $dark-800 !important;
      }
  
      #{$project-plans-top-block},
      #{$needs-revision-submit-popover},
      #{$notebook-cog-skill-panel-container},
			#{$flyout-container},
			#{$flyout-control}
      {
        background-color: $dark-700 !important;
      }
  
      #{$week-calendar-current-day-highlight},
      #{$announcement-item-body},
      #{$dropdown-menu-container},
      #{$focus-area-resource-collapsable-opened},
      #{$notebook-checkpoint-header},
      #{$notebook-doc-header},
      #{$notebook-doc-header-button},
			#{$checkin-flyout-textarea},
			#{$create-goal-popover-delete-button}
      {
        background-color: $dark-600 !important;
      }
  
      #{$goal-floating-card},
      #{$progress-grades-table-link-hover},
      #{$notification-popover-background},
      #{$create-goal-popover},
      #{$create-goal-popover-goal-textarea},
      #{$create-goal-popover-submit-button},
      #{$create-goal-popover-add-plan-field-container},
			#{$create-goal-popover-add-plan-input},
			#{$create-goal-popover-date-picker},
      #{$project-plans-timeline-icon-background},
      #{$project-plans-timeline-connector-line},
      #{$project-overview-checkpoint-not-selected},
      #{$avatar-background-not-sidebar},
      #{$notebook-resources-container},
			#{$create-goal-popover-delete-button-hover},
			#{$create-goal-popover-delete-dropdown-toggle},
			#{$create-goal-popover-subgoal}
      {
        background-color: $dark-500 !important;
      }

      #{$notebook-ask-for-help-popover},
			#{$create-goal-popover-delete-dropdown-toggle-hover}
      {
        background-color: $dark-300 !important;
      }
  
      #{$announcement-item-course-name-badge},
      #{$dropdown-menu-hover-focus-item},
      #{$notebook-doc-header-tools-dropdown-item-hover},
      #{$notebook-cog-skill-panel-divider},
      #{$notebook-cog-skill-panel-chevron-button},
      #{$notebook-checkpoint-button-active},
      #{$notebook-ask-for-help-button},
			#{$checkin-flyout-dismiss},
			#{$create-goal-popover-dismiss}
      {
        background-color: $dark-200 !important;
      }

      #{$year-scroll-nav-button},
      #{$notebook-doc-header-round-button-hover},
      #{$notebook-doc-header-tools-button-hover},
      #{$notebook-checkpoint-icon},
      #{$notebook-ask-for-help-popover-cancel-button},
      #{$notebook-cog-skill-panel-score-token}
      {
        background-color: $dark-50 !important;
      }

      #{$year-scroll-nav-button-hovered}
      {
        background-color: $dark-25 !important;
      }
    }
    
    // Translucent colors
    & {
      #{$create-goal-popover-main-input},
      #{$list-collection-item},
      #{$notebook-title-input},
      #{$notebook-editing-mode-dropdown},
      #{$notebook-ask-for-help-popover-textarea}
      {
        background-color: $transparent !important;
      }
      
      #{$project-overview-item-badge-background}
      {
        background-color: transparent-white(0.1) !important;
      }
  
      #{$project-overview-checkpoint-new-feedback-badge},
      #{$token-element},
      #{$project-plans-top-block-icon-background},
      #{$diagnostic-start-button}
      {
        background-color: $default !important;
      }
    }
  }

  // Text colors
  & {
    #{$app-title},
    #{$notebook-checkpoint-title},
		#{$year-course-name-heading},
		#{$checkin-flyout-textarea}
    {
      color: $light-0 !important;
      text-decoration-color: $light-600 !important;
    }

    #{$page-main-content},
    #{$app-subheading},
    #{$notification-popover-subheading},
    #{$focus-area-hover-tooltip-header},
    #{$focus-area-hover-tooltip-project-status},
    #{$notebook-doc-header-button},
    #{$notebook-checkpoint-status-text},
    #{$notebook-title-input},
    #{$notebook-doc-header-round-button},
    #{$notebook-doc-header-tools-button},
    #{$notebook-cog-skill-panel-chevron-button},
    #{$notebook-ask-for-help-popover-cancel-button},
    #{$notebook-ask-for-help-popover-header},
    #{$notebook-resources-panel-header},
    #{$notebook-version-history-header},
		#{$announcements-heading},
		#{$announcements-post-author-name},
		#{$announcement-post-title},
		#{$checkin-flyout-dismiss},
		#{$checkin-flyout-subtitle},
		#{$announcement-time-heading},
		#{$create-goal-popover-dismiss},
		#{$create-goal-popover-step-header},
		#{$create-goal-popover-add-plan-input},
		#{$create-goal-popover-header},
		#{$create-goal-popover-goal-textarea}
    {
      color: $page-body-color !important;
      text-decoration-color: $light-600 !important;
    }

    #{$app-tertiary-heading},
    #{$app-compact-heading},
    #{$year-course-cog-score-text},
    #{$token-element},
    #{$create-goal-popover-goal-textarea-placeholder},
    #{$dropdown-menu-item},
    #{$notification-popover-item-subtitle},
    #{$notebook-save-indicator},
    #{$notebook-cog-skill-panel-content},
    #{$notebook-doc-header-tools-dropdown-item},
    #{$notebook-ask-for-help-popover-textarea},
    #{$notebook-ask-for-help-popover-textarea-placeholder},
    #{$notebook-resources-panel-paragraph},
		#{$announcement-item-body},
		#{$muted-text},
		#{$create-goal-popover-step-text},
		#{$create-goal-popoer-step-expand-label},
		#{$create-goal-popover-add-plan-input-placeholder},
		#{$create-goal-popover-add-plan-input-hint},
		#{$create-goal-popover-date-picker}
    {
      color: $light-900 !important;
    }

    #{$notification-popover-item-title-read},
    #{$notebook-cog-skill-panel-score-token},
		#{$announcement-pill-badge},
		#{$create-goal-popover-delete-button},
		#{$create-goal-popover-subgoal}
    {
      color: $light-600 !important;
    }

		#{$typography-2},
		#{$radio-label}
		{
			color: $light-300 !important;
		}

    #{$notebook-nothing-to-submit-text}
    {
      color: $dark-50 !important;
    }

		#{$typography-1},
		#{$annoucement-date}
		{
			color: $dark-25 !important;
		}

    #{map-get($focus-area-score-badge, "indeterminate")},
		#{$year-course-assessment-type-labels}
    {
      color: transparent-white(0.4) !important;
    }
  }

  // Border colors
  & {
    // Transparent border
    #{$default-button}
    {
      border-color: $transparent !important;
    }

    // Removed border
    #{$notebook-modal-border}
    {
      border: none;
    }

    #{$notification-popover-item-bullet-read},
		#{$create-goal-popover-date-picker}, #{$create-goal-popover-main-input}, #{$create-goal-popover-add-plan-input}
    {
      border-color: $light-900 !important;
    }

    #{$create-goal-popover-goal-unchecked-box},
		#{$radio-button}
    {
      border-color: $light-400 !important;
    }

    #{$table-row},
    #{$year-course-row-name-borders},
    #{$year-explore-more-courses-button},
    #{$focus-area-hover-tooltip-horizontal-rule},
    #{$notebook-resources-container},
    #{$notebook-version-history-header},
    #{$notebook-version-history-item},
    #{$notebook-cog-skill-panel-col},
		#{$checkin-flyout-footer}
    {
      border-color: $dark-300 !important;
    }

		#{$create-goal-popover-footer-container},
		#{$create-goal-popover-subgoal},
		#{$create-goal-popover-header},
		#{$create-goal-popover-step-container}
		{
			border-color: $dark-50 !important;
		}

    #{$week-calendar-current-day-highlight-border},
    #{$notification-popover-border}
    {
      border-color: $dark-100 !important;
    }

    #{$notebook-checkpoint-dropdown-caret}
    {
      border-top-color: $page-body-color;
    }
  }

  // Feedback & complete Status
  & {
    #{map-get($focus-area-statuses, "neutral")}
    {
      background-color: $default !important;
      color: $light-700 !important;
    }


    @each $color in 'green', 'yellow', 'red' {
      #{map-get($project-overview-checkpoint-feedback-badge, $color)}
      {
        background-color: map-get($color-status-checkpoint-feedback, $color) !important;
      }

      #{map-get($focus-area-statuses, $color)}
      {
        background-color: map-get($color-status-background, $color) !important;
        color: map-get($color-status-text, $color) !important;
        & i {
          background-color: map-get($color-status-icon, $color) !important;
        }
      }

      #{map-get($focus-area-score-badge, $color)}
      {
        color: map-get($score-badge-colors, $color) !important;
      }
    }

    #{$focus-area-hover-tooltip-success-date}
    {
      color: map-get($color-status-text, "green") !important;
    }
  }

  // Box Shadows
  & {
    // Remove Box Shadows
    #{$year-scroll-right-shadow},
    #{$focus-area-hover-tooltip},
    #{$goal-floating-card-container},
    #{$year-course-row-info-left},
    #{$focus-area-resource-collapsable-opened-contianer},
    #{$notebook-ask-for-help-popover-cancel-button}
    {
      box-shadow: none !important;
    }

    #{$notebook-title-input-focused}
    {
      box-shadow: 0 0 0 2px $dark-50 !important;
    }
  }


  // Misc
  & {
    // Focus area tour button
    & {
      #{$focus-area-tour-button}
      {
        background-color: map-get($focus-area-tour-colors, "background") !important;
        border-color: map-get($focus-area-tour-colors, "border") !important;

        & * {
          color: map-get($focus-area-tour-colors, "text") !important;
        }
      }
    }

		& {
			@each $position, $position-selector in $popover-arrows {
				#{$position-selector}
				{
					#{"border-" + $position + "-color"}: $dark-500;
				}
			}
		}


    #{$project-overview-copy-old-work-prompt}
    {
      background-color: $dark-warning-background !important;
    }

    // Removed border radius
    #{$notebook-modal-border}
    {
      border-radius: 0;
    }

    .drop-shadow{
      box-shadow: none !important;
    }
    .courserow-details-course h3{
      color: $dark-50 !important;
    }
  }

}