/*
! NOTE FOR CONTRIBUTORS: 
! When adding new styles to this document, please follow these conventions:

- Do not reference selectors in the css. Instead, create a SCSS variable for the selector and reference that. This allows for more semantic code and makes it easier to remove unused selectors in the future
- Try to keep colors as constant variables (or functions) instead of referencing them directly in the css. This is to create a design sysem of sorts and makes it easier to tweak things if needed
- Be mindful of where you put your code. Try to group it with things similar to it. Try to put variable declarations near similar values. Additionally, in the css, there are scss parent selectors added to section the css into several parts

? Design System

The styles for dark mode follow the material dark theme spec as best as possible.
The spec can be found here: https://material.io/design/color/dark-theme.html


*/
html.better-slp-dark-mode-transitioning * {
  transition: all 300ms !important;
}

html {
  color-scheme: dark;
}
html .page-content-body,
html .czi-editor-frame-body, html .project-feedback-dimension-navigator-backdrop,
html .app-empty-state-vertical-center {
  background-color: hsl(0deg, 0%, 7%) !important;
}
html .panel,
html .courserow-tooltip.tooltip .tooltip-inner,
html .sdl-course-grades button, html .sdl-course-grades .grade-header,
html .announcement,
html .better-slp-note-taker-embed {
  background-color: hsl(0deg, 0%, 11%) !important;
}
html .project-lesson-media-block-objective,
html .needs-revision-popover,
html .project-feedback-dimension-navigator,
html .right-screen-flyout-content,
html .right-screen-flyout-control {
  background-color: hsl(0deg, 0%, 14%) !important;
}
html .sdl-week-calendar-today,
html .announcement-body,
html .dropdown-menu,
html .focusarea .selected-panel .panel,
html .project-feedback-header-container,
html .platform-doc-header,
html .project-feedback-header .btn.btn-default,
html .app .mentor-checkin-prework-flow textarea.form-control,
html .sdl-goal-popover-delete-button {
  background-color: hsl(0deg, 0%, 15%) !important;
}
html .goal-panel,
html .sdl-course-grades button:hover,
html #notifications-popover,
html .sdl-goal-popover,
html .sdl-goal-popover-input-title .form-control,
html .sdl-goal-popover-create,
html .sdl-goal-popover-footer,
html .sdl-goal-popover-input input.form-control, html .sdl-goal-popover-footer .rbt-input.form-control,
html .sdl-goal-popover-input,
html .project-agenda-timeline-item-icon-background,
html .project-agenda-timeline-item-line-1, html .project-agenda-timeline-item-line-2,
html .project-day-to-day-side-nav-item:not(.selected),
html *:not(.notifications-nub):not(.platform-doc-user-badge) > .avatar-profile,
html .project-feedback-overview-panel.open,
html .sdl-goal-popover-delete-button:hover,
html .sdl-goal-popover-delete-toggle-button,
html .sdl-goal-popover-child {
  background-color: hsl(0deg, 0%, 17%) !important;
}
html .feedback-help-request-popover.popover,
html .sdl-goal-popover-delete-toggle-button:hover {
  background-color: hsl(0deg, 0%, 20%) !important;
}
html .announcement-body-text .audience.badge,
html .dropdown-menu > li:not(.active) > a:hover, html .dropdown-menu > li:not(.active) > a:focus,
html .tools-item:hover,
html .project-feedback-dimension-navigator-drilldown-divider,
html .project-feedback-dimension-navigator-toggle,
html .open .project-feedback-asset-switcher-selector,
html .student-request-feedback .student-request-feedback-default .btn-default,
html .mentor-checkin-footer-buttons .btn-default,
html .close-popover-button {
  background-color: hsl(0deg, 0%, 21%) !important;
}
html .this-year-fade .nav-button-container:hover .this-year-nav-button,
html .platform-doc-header .platform-doc-button:hover,
html .platform-doc-header #tools-menu-button:hover, html .platform-doc-header #tools-menu-button:focus,
html .project-feedback .project-feedback-asset-switcher .project-feedback-asset-switcher-selector .project-asset-icon,
html .feedback-help-request-popover.popover .btn-default,
html .project-feedback-dimension-navigator-score-token:not(.selected) {
  background-color: hsl(0deg, 0%, 26%) !important;
}
html .this-year-fade .nav-button-container:hover .this-year-nav-button:hover {
  background-color: hsl(0deg, 0%, 36%) !important;
}
html .sdl-goal-popover-input,
html .list-group-item,
html .platform-doc-title-input,
html .edit-dropdown,
html .feedback-help-request-popover.popover textarea {
  background-color: rgba(0, 0, 0, 0) !important;
}
html .project-day-to-day-side-nav-item-theme-default .media-circle-background-circle {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
html .project-day-to-day-side-nav-item-new-feedback-token,
html .token, html .token-display-only,
html .project-lesson-media-block-icon-background-circle,
html .focusarea-diagnostic-btn button {
  background-color: rgba(255, 255, 255, 0.07) !important;
}
html .app-page-title-group h1,
html .project-feedback-title,
html .courserow-details-course-link-heading h2,
html .app .mentor-checkin-prework-flow textarea.form-control {
  color: hsl(0deg, 0%, 100%) !important;
  -webkit-text-decoration-color: hsl(0deg, 0%, 82%) !important;
          text-decoration-color: hsl(0deg, 0%, 82%) !important;
}
html .app-body,
html .app-subheading, html .app-subheading span,
html .notifications-subtitle,
html .courserow-tooltip .app-heading:not(.success),
html .courserow-tooltip .project-status,
html .project-feedback-header .btn.btn-default,
html .project-feedback-actions-text,
html .platform-doc-title-input,
html .platform-doc-header .platform-doc-button,
html .platform-doc-header #tools-menu-button,
html .project-feedback-dimension-navigator-toggle,
html .feedback-help-request-popover.popover .btn-default,
html .feedback-help-request-popover.popover strong,
html .project-feedback-info-overview .app-heading,
html .history-header,
html .announcements > div > h2,
html .announcement .owner-name,
html .announcement-title,
html .mentor-checkin-footer-buttons .btn-default,
html .mentor-checkin-body .subtitle,
html .announcements > ul > li > h2,
html .close-popover-button,
html .sdl-goal-popover-step-header.list-group-item h4,
html .sdl-goal-popover-input input.form-control, html .sdl-goal-popover-footer .rbt-input.form-control,
html .sdl-goal-popover-header,
html .sdl-goal-popover-input-title .form-control {
  color: rgba(255, 255, 255, 0.85) !important;
  -webkit-text-decoration-color: hsl(0deg, 0%, 82%) !important;
          text-decoration-color: hsl(0deg, 0%, 82%) !important;
}
html .sdl-goal-popover-input-title .form-control::-moz-placeholder, html .feedback-help-request-popover.popover textarea::-moz-placeholder, html .sdl-goal-popover-input input.form-control::-moz-placeholder, html .sdl-goal-popover-footer .rbt-input.form-control::-moz-placeholder {
  color: hsl(0deg, 0%, 56%) !important;
}
html .sdl-goal-popover-input-title .form-control:-ms-input-placeholder, html .feedback-help-request-popover.popover textarea:-ms-input-placeholder, html .sdl-goal-popover-input input.form-control:-ms-input-placeholder, html .sdl-goal-popover-footer .rbt-input.form-control:-ms-input-placeholder {
  color: hsl(0deg, 0%, 56%) !important;
}
html .app-tertiaryheading, html .app-tertiaryheading span,
html .app-compact-content-heading, html .app-compact-content-heading span,
html .courserow-score-text,
html .token, html .token-display-only,
html .sdl-goal-popover-input-title .form-control::placeholder,
html .dropdown-menu li:not(.active) a,
html .notification-item-subtitle, html #notifications-popover .list-group-item,
html .platform-doc-saving-indicator,
html .project-feedback-dimension-navigator-drilldown-content,
html .tools-item,
html .feedback-help-request-popover.popover textarea,
html .feedback-help-request-popover.popover textarea::placeholder,
html .project-feedback-info-overview .rich-text-note-editor,
html .announcement-body,
html .app .text-muted,
html .sdl-goal-popover-step.list-group-item .step-text,
html .sdl-goal-popover-steps .sdl-goal-popover-step-header button.goal-step-toggle .goal-step-toggle-label,
html .sdl-goal-popover-input input.form-control::placeholder, html .sdl-goal-popover-footer .rbt-input.form-control::placeholder,
html .sdl-goal-popover-footer .rbt-input-hint,
html .sdl-goal-popover-input {
  color: hsl(0deg, 0%, 56%) !important;
}
html .notification-item:not(.notification-item-unread) .notification-item-title-fragment,
html .project-feedback-dimension-navigator-score-token:not(.selected),
html .announcements-page .panel-body .announcement .announcement-body .badge.audience,
html .sdl-goal-popover-delete-button,
html .sdl-goal-popover-child {
  color: hsl(0deg, 0%, 82%) !important;
}
html .typography-module__colorBase___2P5Eh,
html .radio label {
  color: hsl(0deg, 0%, 93%) !important;
}
html .app-empty-state-vertical-center h1 {
  color: hsl(0deg, 0%, 26%) !important;
}
html .typography-module__colorNeutral___2Xfii,
html .announcements-page .panel-body .announcement .announcement-details .date {
  color: hsl(0deg, 0%, 36%) !important;
}
html .focusarea .playlist-panel .score-badge.get-started,
html .courserow-info > div h3 {
  color: rgba(255, 255, 255, 0.4) !important;
}
html .btn.btn-default:not(.edit-dropdown) {
  border-color: rgba(0, 0, 0, 0) !important;
}
html .modal-full-height .modal-content {
  border: none;
}
html .notification-item-read-bullet,
html .sdl-goal-popover-input, html .sdl-goal-popover-input, html .sdl-goal-popover-input input.form-control, html .sdl-goal-popover-footer .rbt-input.form-control {
  border-color: hsl(0deg, 0%, 56%) !important;
}
html .sdl-goal-popover .checkbox input[type=checkbox]:not(:checked):after,
html .radio-inline input[type=radio]:after, html .radio input[type=radio]:after, html input[type=radio]:after {
  border-color: hsl(0deg, 0%, 90%) !important;
}
html .table-bordered td,
html .courserow-info.widen.months,
html .this-year-explore-courses,
html .courserow-tooltip hr,
html .project-feedback-overview-panel.open,
html .history-header,
html .platform-doc-history-page .list-group .list-group-item,
html .project-feedback-drawer,
html .mentor-checkin-footer {
  border-color: hsl(0deg, 0%, 20%) !important;
}
html .sdl-goal-popover-create, html .sdl-goal-popover-footer,
html .sdl-goal-popover-child,
html .sdl-goal-popover-header,
html .sdl-goal-popover-step {
  border-color: hsl(0deg, 0%, 26%) !important;
}
html .table-bordered td.sdl-week-calendar-today,
html .notifications-header, html .notification-item {
  border-color: hsl(0deg, 0%, 22%) !important;
}
html .project-feedback-header-container .caret {
  border-top-color: rgba(255, 255, 255, 0.85);
}
html .default, html .courserow-list-item-content-default:not(.success):not(.warning):not(.danger) {
  background-color: rgba(255, 255, 255, 0.07) !important;
  color: hsl(0deg, 0%, 74%) !important;
}
html .project-day-to-day-side-nav-item-theme-default .project-day-to-day-side-nav-item-left-aligned-content.green .media-circle-background-circle {
  background-color: hsla(120deg, 100%, 80%, 0.35) !important;
}
html .success:not(.app-heading), html .sdl-goal-token-completed .token {
  background-color: hsl(140deg, 25%, 20%) !important;
  color: hsl(120deg, 64%, 75%) !important;
}
html .success:not(.app-heading) i, html .sdl-goal-token-completed .token i {
  background-color: hsl(140deg, 65%, 35%) !important;
}
html .score-badge.passed {
  color: #00e676 !important;
}
html .project-day-to-day-side-nav-item-theme-default .project-day-to-day-side-nav-item-left-aligned-content.yellow .media-circle-background-circle {
  background-color: hsla(60deg, 100%, 70%, 0.35) !important;
}
html .warning:not(.app-heading) {
  background-color: hsl(60deg, 20%, 20%) !important;
  color: hsl(60deg, 64%, 75%) !important;
}
html .warning:not(.app-heading) i {
  background-color: hsl(60deg, 65%, 35%) !important;
}
html .score-badge.almost-passed {
  color: #ffc400 !important;
}
html .project-day-to-day-side-nav-item-theme-default .project-day-to-day-side-nav-item-left-aligned-content.red .media-circle-background-circle {
  background-color: hsla(0deg, 100%, 70%, 0.35) !important;
}
html .danger:not(.app-heading) {
  background-color: hsl(0deg, 40%, 20%) !important;
  color: hsl(0deg, 64%, 75%) !important;
}
html .danger:not(.app-heading) i {
  background-color: hsl(0deg, 65%, 35%) !important;
}
html .score-badge:not(.get-started) {
  color: #ff5252 !important;
}
html .courserow-tooltip.tooltip .app-heading.success {
  color: hsl(120deg, 64%, 75%) !important;
}
html .claro-standard-layout-page .claro-this-year .this-year-outer .this-year-fade.right,
html .courserow-tooltip.tooltip .tooltip-inner,
html .goal-drawer,
html .courserow-info.widen,
html .focusarea .selected-panel,
html .feedback-help-request-popover.popover .btn-default {
  box-shadow: none !important;
}
html .platform-doc-title-input:focus {
  box-shadow: 0 0 0 2px hsl(0deg, 0%, 26%) !important;
}
html .upper-right-overlay .onboarding-nub {
  background-color: hsl(188deg, 22%, 15%) !important;
  border-color: hsl(191deg, 22%, 29%) !important;
}
html .upper-right-overlay .onboarding-nub * {
  color: hsl(188deg, 48%, 57%) !important;
}
html .popover.left .arrow::after {
  border-left-color: hsl(0deg, 0%, 17%);
}
html .popover.right .arrow::after {
  border-right-color: hsl(0deg, 0%, 17%);
}
html .popover.top .arrow::after {
  border-top-color: hsl(0deg, 0%, 17%);
}
html .popover.bottom .arrow::after {
  border-bottom-color: hsl(0deg, 0%, 17%);
}
html .project-asset-copy-old-work-prompt {
  background-color: hsl(345deg, 30%, 15%) !important;
}
html .modal-full-height .modal-content {
  border-radius: 0;
}
html .drop-shadow {
  box-shadow: none !important;
}
html .courserow-details-course h3 {
  color: hsl(0deg, 0%, 26%) !important;
}/*# sourceMappingURL=css_dark.css.map */