@import "scss/abstracts/colors", "scss/abstracts/variables";

html{
    #{color-scheme}: dark;

    & {
        & { // ! Main Elements
            #{$page-body},
            #{$notebook-background},
            //? background color for the entire page
            #{$notebook-nothing-to-submit-container}{background-color: $dark-800 !important;}

            .drop-shadow{box-shadow: none !important;}
            .page-menu{background-color: $dark-900 !important;}
            #{$year-scroll-nav-button},
            #{$year-scroll-nav-button-hovered}{box-shadow: none !important;}
        }
        
    }
}
