body, html {
    margin: 0;
    padding: 0;
    width: 30rem;
}

.menu-bar{
    box-sizing: border-box;
    background-color: #000000;
    color: orange;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    width: 85%;
}